@import '../assets/font/font';
@import './reset';
$colorWhite: #FFFFFF;
$colorYellow: #EDFF7E;
%articleSectionFlex {
    display: flex;
    flex-direction: column;
    gap: 40px; 
}
%sectionGrid {
    justify-content: center;
    align-items: center; 
}
@mixin grid-container($columns, $column-size, $rows, $row-size, $gap) {
    display: grid;
    grid-template-columns: repeat($columns, $column-size);
    grid-template-rows: repeat($rows, $row-size);
    gap: $gap;
  }
  @mixin text-styles($font-weight, $font-size, $line-height, $color) {
    font-weight: $font-weight;
    font-size: $font-size;
    line-height: $line-height;
    color: $color;
}
   
   
  



//TODO! section section__portfolio
.section__portfolio {
    @extend %articleSectionFlex;
    background: $colorYellow;
}
.grid-container {
    @include grid-container(1, 940px, 3, 40px, 20px);
    @extend %sectionGrid;
    & > h2 {
        @include text-styles(900, 3rem, 3.6rem, #000025);
    }
    & > p {
        @include text-styles(400, 1.6rem, 3rem, #5A5A7F);
        text-align: justify;
    }
    .button {
        display: flex;
        gap: 10px;
        & > button {
            @include text-styles(400, 0.8rem, 1.2rem, #5A5A7F);
            border-radius: 4px;
            height: 2.8rem;
            &:hover {
                background-color: #a3a3be;
                color: $colorWhite;
            }
            &:nth-child(1) {
                background-color: #7067CF;
                color: $colorWhite;
                &:hover {
                    background-color: #a3a3be
                }
            }
        }
    }
}
.grid-container-second {
    @include grid-container(4, 220px, 3, 187px, 20px);
    @extend %sectionGrid;
    .item__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
// TODO! footer grid-container__footer
.footer {
    background-color: $colorYellow;
    .grid-container__footer {
        @include grid-container(2, 460px, 1, 40px, 20px);
        @extend %sectionGrid;
        .footer__text {
            @include text-styles(900, 1.3rem, 1.8rem, #5A5A7F);
        }
        .flex-container__footer {
            display: flex;
            justify-content: flex-end;
            gap: 10px;
        }
    }
}

   
 
   
    


















@media screen and (max-width: 850px) {
    .grid-container {
        @include grid-container(1, 696px, 3, 40px, 20px);
    }
    .grid-container-second {
        @include grid-container(3, 220px, 4, 187px, 12px);
    }
    .footer .grid-container__footer {
        @include grid-container(2, 331px, 1, 40px, 20px);
    }
}
   
       
   

   













@media screen and (max-width: 450px) {
    .grid-container {
        @include grid-container(1, 335px, 3, 40px, 20px);
    }
    .grid-container-second {
        @include grid-container(2, 161px, 6, 161px, 13px);
        .item__image {
            width: 161px;
            height: 161px;
        }
    }
    .footer .grid-container__footer {
        @include grid-container(2, 157px, 1, 40px, 20px);
    }
}
            
    
  
       






          
               

           
     
        



